{% extends 'default/default_shell.html.twig' %}

{% block title %}{{'Printing Photos'|trans}}{% endblock %}

{% block pageclass%}checkout{% endblock%}

{% block primarybody %}
    <style>
        .homepage-hero-module {
            border-right: none;
            border-left: none;
            position: relative;
        }
        .no-video .video-container video,
        .touch .video-container video {
            display: none;
        }
        .no-video .video-container .poster,
        .touch .video-container .poster {
            display: block !important;
        }
        .video-container {
            position: relative;
            bottom: 0%;
            left: 0%;
            /*height: 100%;*/
            /*width: 100%;*/
            width: 1366px;
            height: 772px;
            overflow: hidden;
            background: #000;
        }
        .video-container .poster img {
            /*width: 100%;*/
            bottom: 0;
            position: absolute;
        }
        .video-container .filter {
            z-index: 100;
            position: absolute;
            background: rgba(0, 0, 0, 0.4);
            width: 100%;
        }
        .video-container video {
            position: absolute;
            z-index: 0;
            bottom: 0;
        }
        .video-container video.fillWidth {
            width: 100%;
        }

    </style>
    <script>
        //jQuery is required to run this code
        $( document ).ready(function() {

            scaleVideoContainer();

            initBannerVideoSize('.video-container .poster img');
            initBannerVideoSize('.video-container .filter');
            initBannerVideoSize('.video-container video');

            $(window).on('resize', function() {
                scaleVideoContainer();
                scaleBannerVideoSize('.video-container .poster img');
                scaleBannerVideoSize('.video-container .filter');
                scaleBannerVideoSize('.video-container video');
            });

        });

        function scaleVideoContainer() {

            var height = $(window).height() + 5;
            var unitHeight = parseInt(height) + 'px';
            $('.homepage-hero-module').css('height',unitHeight);

        }

        function initBannerVideoSize(element){

            $(element).each(function(){
                $(this).data('height', $(this).height());
                $(this).data('width', $(this).width());
            });

            scaleBannerVideoSize(element);

        }

        function scaleBannerVideoSize(element){

            var windowWidth = $(window).width(),
                windowHeight = $(window).height() + 5,
                videoWidth,
                videoHeight;

            // console.log(windowHeight);

            $(element).each(function(){
                var videoAspectRatio = $(this).data('height')/$(this).data('width');

                $(this).width(windowWidth);

                if(windowWidth < 1000){
                    videoHeight = windowHeight;
                    videoWidth = videoHeight / videoAspectRatio;
                    $(this).css({'margin-top' : 0, 'margin-left' : -(videoWidth - windowWidth) / 2 + 'px'});

                    $(this).width(videoWidth).height(videoHeight);
                }

                $('.homepage-hero-module .video-container video').addClass('fadeIn animated');

            });
        }
    </script>
    <div class="view-row" id="print" data-rooturl="{{path('index',{machine:machine})}}" data-time="{{time}}">

        <div class="title-container">
            <div class="title">
                <h2>{{'PRINTING YOUR PHOTOS'|trans}}</h2>
            </div>
        </div>
        <div class="homepage-hero-module">
            <div class="video-container">
                <div class="filter"></div>
                <video  autoplay loop class="fillWidth" style="
    width: 1366px;
    height: 772px;">
                    <source src="/dist/img/Tired_is_Happy.mp4" type="video/mp4" />
                    {#<source src="PATH_TO_WEBM" type="video/webm" />#}
                </video>
                <div class="poster hidden">
                    <img src="PATH_TO_JPEG" alt="">
                </div>
            </div>
        </div>
        <img type="hidden" src="{{image_array[0]}}" hspace="0" vspace="0" class="photo-strip" data-photos="{{image_array|json_encode}}" style="display: none;"  />
        <div class="remaining">
            <span class="time"><img src="/dist/img/clock_gray.png"> {{'Remaining time'|trans}}: <span id="time">24</span> {{'sec'|trans}}</span>
			<div class="progress">
			  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
				<span class="sr-only"></span>
			  </div>
			</div>
        </div>

        <div class="thanks-stripe-container">
            <div class="thanks-stripe">
                <h2>{{'Thank you for printing with us!'|trans}} <i class="smile fa fa-smile-o" aria-hidden="true"></i>
                    {#<img src="/fobox/web/dist/img/smile.png" class="smile" /></h2>#}
            </div>
        </div>

        <div class="footer-container">
            <div class="logos">
                <!--img src="/fobox/web/dist/img/instagram_gray.png"-->
                <i class="fa fa-instagram" style="font-size:80px;color:black;text-shadow:3px 3px 5px;"></i>
                <div class="tags">
                    <span>&#35;PhotoATM</span>
                    <span>&#64;PhotoATM.io</span>
                </div>
            </div>
            <div class="info">
                <span><!--img src="/fobox/web/dist/img/phone.png"--><i class="fa fa-mobile" style="font-size:48px;"></i> {{helpline}}</span>
                {% if email_settings['support_email'] is defined %}<span><img src="/dist/img/email.png"> {{email_settings['support_email']}}</span>{% endif %}
                <span>
                    <i class="fa fa-globe" aria-hidden="true" style="font-size: 26px;"></i>

                    {#<img src="/fobox/web/dist/img/world.png">#}
                    www.photoatm.io</span>
            </div>
        </div>
    </div>
{% endblock %}
