{% extends 'default/default_shell.html.twig' %}

{% block title %}{{'Printing Photos'|trans}}{% endblock %}

{% block pageclass%}checkout{% endblock%}

{% block primarybody %}
    <div class="view-row" id="print" data-rooturl="{{path('index',{machine:machine})}}" id="view">            

        <div class="title-container js-print-prepare" data-url="{{path('create_pdf', {transaction:transaction})}}" data-redirect="{{path('media_cart_print_part2')}}" data-error="{{path('index',{machine:machine})}}">
            <div class="title">
                <h2>{{'PREPARING YOUR PHOTOS'|trans}}</h2>
            </div>
        </div>

        <div class="text-center">
            <p>{{'This may take some time, please wait'|trans}}...</p>

            <br />
            <br />
            <br />
            <img src="/dist/img/hourglass.svg" />
        </div>

    </div>
{% endblock %}
