
{% extends 'default/default_shell.html.twig' %}

{% block title %}{{'Search Results'|trans}}{% endblock %}

{% block pageclass%}search cart media view-cart{% endblock%}

{% block primarybody %}



    <style>
        #overlllllay {
            position: fixed;
            display: none;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.5);
            z-index: 1000;
            cursor: pointer;
        }
        .overlay {
            height: 0%;
            width: 100%;
            position: fixed;
            z-index: 999;
            top: 0;
            left: 0;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0, 0.9);
            overflow-y: hidden;
            transition: 0.5s;
        }
        .overlay-content {
            position: relative;
            top: 25%;
            width: 100%;
            text-align: center;
            margin-top: 30px;
        }

        .overlay a {
            padding: 8px;
            text-decoration: none;
            font-size: 36px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

        .overlay a:hover, .overlay a:focus {
            color: #f1f1f1;
        }

        .overlay .closebtn {
            position: absolute;
            top: 20px;
            right: 45px;
            font-size: 60px;
        }

        @media screen and (max-height: 450px) {
            .overlay {overflow-y: auto;}
            .overlay a {font-size: 20px}
            .overlay .closebtn {
                font-size: 40px;
                top: 15px;
                right: 35px;
            }
        }

        .popup {
            position: relative;
            display: inline-block;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        /* The actual popup */
        .popup .popuptext {
            visibility: hidden;
            width: 535px;
            height: 290px;
            border-radius: 25px;
            padding: 25px;
            background-clip: padding-box;
            background-color: #fff
            position: relative;
            border: 1px solid rgba(0,0,0,.2);
            outline: 0;
            margin-top: 136px;


            text-align: center;
            border-radius: 15px;
            padding: 12px 0;
            position: absolute;
            /*z-index: 1;
            bottom: 200%;
            left: 100%;*/
            margin-left: -287px;
        }

        /* Popup arrow */
        .popup .popuptext::after {
            content: "";
            position: absolute;
            top: 200%;
            left: 100%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

        /* Toggle this class - hide and show the popup */
        .popup .show {
            visibility: visible;
            -webkit-animation: fadeIn 1s;
            animation: fadeIn 1s;
        }

        /* Add animation (fade in the popup) */



        .buttoncss {
            padding-right: 388px;
            position: absolute;
            bottom: 92px;
            right: -55px;
        }
        .buttoncssright {
            padding-right: 363px;
            position: fixed;
            bottom: 404px;
            right: 226px;
        }

    </style>

    <script>

        (function($) {
            var IS_IOS = /iphone|ipad/i.test(navigator.userAgent);
            $.fn.nodoubletapzoom = function() {
                if (IS_IOS)
                    $(this).bind('touchstart', function preventZoom(e) {
                        var t2 = e.timeStamp
                            , t1 = $(this).data('lastTouch') || t2
                            , dt = t2 - t1
                            , fingers = e.originalEvent.touches.length;
                        $(this).data('lastTouch', t2);
                        if (!dt || dt > 500 || fingers > 1) return; // not double-tap

                        e.preventDefault(); // double tap - prevent the zoom
                        // also synthesize click events we just swallowed up
                        $(this).trigger('click').trigger('click');
                    });
            };
        })(jQuery);
    </script>

    <script>
        var redirectToHome=false;

        function updateOnlineStatus()
        {
            location.reload();
            //document.getElementById("status").innerHTML = "";
        }

        function updateOfflineStatus()
        {
            $('#back_button').css('pointer-events', 'none');
            $('#next_button').css('pointer-events', 'none');

            $().ready(function() {



                $('input').each(function() {
                    if ($(this).attr('disabled')) {
                        $(this).removeAttr('disabled');
                    }
                    else {
                        $(this).attr({
                            'disabled': 'disabled'
                        });
                    }

                });
            });
            document.getElementById("myNav").style.height = "100%";

        }

        window.addEventListener('online',  updateOnlineStatus);
        window.addEventListener('offline', updateOfflineStatus);

    </script>
    <div class="view-row">


        

        <div class="media-row" id="view">

            {% embed 'default/components/search.html.twig' with {term: term, showcart:true, nouser: true} %}{% endembed %}

            {% set cart_quantity = 0 %}
            <div id="overlllllay" onclick="off()">

                <div style="text-align:center;">
                    <div class="popup">

            <span class="popuptext show" style="
    z-index: 400; background-color: white;">
                <h1>Are you still here?</h1>
                <br>
                <p style="font-size: 20px;">If no action is taken, <br>
                your order will be cancelled
                </p>
                <a href="https://photoatm.cyint.technology/root/497961d5-1bef-11e7-a8a2-065fd8cb4ee7/en/view" class="btn btn-danger" style="margin-right: 34px;
    border: 1px solid transparent;
    border-radius: 49px;
    margin-bottom: -42px;
    background-color: #EA5F70;">No</a>

                <a href="#" onclick="donotRedirect()" class="btn btn-danger" style="    margin-left: 0px;
    border: 1px solid transparent;
    border-radius: 339px;
    margin-bottom: -42px;
    background-color: #8ADB38;">Yes</a>

            </span>
                    </div>
                </div>

            </div>


            <div onclick="on()"></div>

            <script>

                function donotRedirect() {
                    if (timer) {
                        clearTimeout(timer);
                        timer = 0;
                    }
                }
                function on() {
                    if(navigator.onLine) {
                        //alert('online');

                        document.getElementById("overlllllay").style.display = "block";
                        timer= setTimeout(function(){location.href="https://photoatm.cyint.technology/root/497961d5-1bef-11e7-a8a2-065fd8cb4ee7/en/view"} , 30000);

                    }
                    //document.getElementById("overlllllay").style.display = "block";
                }

                function off() {
                    document.getElementById("overlllllay").style.display = "none";
                }
            </script>



            <script>

                var timeOut;

                function reset() {


                    window.clearTimeout(timeOut);

                    timeOut = window.setTimeout(on, 30000);


                }

                function redir() {
                    console.log('redirected');
                }

                window.onload = function() {


                    timeOut = setTimeout(on, 30000)

                }

                window.onkeypress = reset;

                window.onmousemove = reset;
                window.onScrollStopped = reset;


            </script>
            <div id="myNav" class="overlay">
                <a href="javascript:void(0)"></a>
                <div class="overlay-content">
                    <p style="font-size:20px; color:white; z-index:999;" >
                        <br><br><br>
                        Oops! No internet connection
                        <br>
                        We are trying to reconnect.
                        <br>
                        Please wait…
                    </P>
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="color:white"></i>
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            {% if cart_data['media']|length > 0 %}
                {% for slot in 0..cart_data['total']-1%}
                    {% set break = false %}
                    {% for mediaid,media in cart_data['media'] if not break %}
                        {% if media['quantity'] is defined and media['quantity'] > 0 %}
                            {% if media['images'][slot] is defined %}
                              {% set cart_quantity = cart_quantity + 1 %}
                              {% set cropwidth= 443 %}
                              {% set cropheight= 443 %}
                              {% if media['orientation'][slot] is defined and media['orientation'][slot] == 'portrait-notext' %}
                                  {% set cropheight= 599 %}
                              {% elseif media['orientation'][slot] is defined and media['orientation'][slot] == 'landscape-text' %}
                                  {% set cropheight= 279 %}
                              {% endif %}
                              {% embed 'default/components/photo.html.twig' with {media:media, mediaid:mediaid, index:slot, cropwidth: cropwidth, cropheight: cropheight, enableZoom: false} %}{% endembed %}
                              {% set break = true %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endif %}
            {% for index in 1..(cart_quantity == 0 ? 4 : cart_quantity % 2 == 0 ? 2 : 3) %}
                {% embed 'default/components/photo.html.twig' with {media:null, mediaid:null, index:null, term: term, usertag:usertag, mode:mode} %}{% endembed %}
            {%  endfor %}
        </div>

</div>


	{% embed 'default/components/carousel.html.twig' with {cart_data:cart_data} %}{% endembed %}

    {% if cart_data['media']|length > 0 %}
        {% embed 'default/components/navigation.html.twig' with {back:path('instagram_media', {term:term,usertag:usertag,mode:mode}), next:path('media_cart_checkout'), nextcondition:(cart_data['total'] > 0)} %}{% endembed %}
    {% else %}
        {% embed 'default/components/navigation.html.twig' with {back:path('instagram_search', {term:term})} %}{% endembed %}
    {% endif %}

    {% embed 'default/components/modal.html.twig' %}{% endembed %}

{% endblock %}
