{% extends 'default/default_shell.html.twig' %}

{% block title %}{{'Checkout'|trans}}{% endblock %}

{% block pageclass%}checkout{% endblock%}

{% block primarybody %}
    <style>
        #overlllllay {
            position: fixed;
            display: none;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.5);
            z-index: 2;
            cursor: pointer;
        }
        .alert {
            padding: 12px;
            background-color: #EE9E9E;
            color: white;
            opacity: 1;
            transition: opacity 0.6s;
            margin-bottom: 15px;
        }

        .alert.success {background-color: #4CAF50;}
        .alert.info {background-color: #EE9E9E;}
        .alert.warning {background-color: #ff9800;}

        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
            border-style: solid;
            border-width: 5px;
        }

        .closebtn:hover {
            color: black;
        }



        .alert.info {background-color: rgba(128, 238, 96, 0.53);}
        div.transbox p {
            margin: 5%;
            font-weight: bold;
            color: #000000;
        }

        b {
            font-size: 145%;
        }

        .overlay {
            height: 0%;
            width: 100%;
            position: fixed;
            z-index: 9999;
            top: 0;
            left: 0;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0, 0.9);
            overflow-y: hidden;
            transition: 0.5s;
        }

        .overlay-content {
            position: relative;
            top: 25%;
            width: 100%;
            text-align: center;
            margin-top: 30px;
        }

        .overlay a {
            padding: 8px;
            text-decoration: none;
            font-size: 36px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

        .overlay a:hover, .overlay a:focus {
            color: #f1f1f1;
        }

        .overlay .closebtn {
            position: absolute;
            top: 20px;
            right: 45px;
            font-size: 60px;
        }

        @media screen and (max-height: 450px) {
            .overlay {overflow-y: auto;}
            .overlay a {font-size: 20px}
            .overlay .closebtn {
                font-size: 40px;
                top: 15px;
                right: 35px;
            }
        }
        .popup {
            position: relative;
            display: inline-block;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        /* The actual popup */
        .popup .popuptext {
            visibility: hidden;
            width: 535px;
            height: 290px;
            border-radius: 25px;
            padding: 25px;
            background-clip: padding-box;
            background-color: #fff
            position: relative;
            border: 1px solid rgba(0,0,0,.2);
            outline: 0;
            margin-top: 136px;


            text-align: center;
            border-radius: 15px;
            padding: 12px 0;
            position: absolute;
            /*z-index: 1;
            bottom: 200%;
            left: 100%;*/
            margin-left: -287px;
        }

        /* Popup arrow */
        .popup .popuptext::after {
            content: "";
            position: absolute;
            top: 200%;
            left: 100%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

        /* Toggle this class - hide and show the popup */
        .popup .show {
            visibility: visible;
            -webkit-animation: fadeIn 1s;
            animation: fadeIn 1s;
        }

        /* Add animation (fade in the popup) */



        .buttoncss {
            padding-right: 388px;
            position: absolute;
            bottom: 92px;
            right: -55px;
        }
        .buttoncssright {
            padding-right: 363px;
            position: fixed;
            bottom: 404px;
            right: 226px;
        }
    </style>
    <script>

        (function($) {
            var IS_IOS = /iphone|ipad/i.test(navigator.userAgent);
            $.fn.nodoubletapzoom = function() {
                if (IS_IOS)
                    $(this).bind('touchstart', function preventZoom(e) {
                        var t2 = e.timeStamp
                            , t1 = $(this).data('lastTouch') || t2
                            , dt = t2 - t1
                            , fingers = e.originalEvent.touches.length;
                        $(this).data('lastTouch', t2);
                        if (!dt || dt > 500 || fingers > 1) return; // not double-tap

                        e.preventDefault(); // double tap - prevent the zoom
                        // also synthesize click events we just swallowed up
                        $(this).trigger('click').trigger('click');
                    });
            };
        })(jQuery);
    </script>
    <script>

        var redirectToHome=false;

        function updateOnlineStatus()
        {
            location.reload();
            //document.getElementById("status").innerHTML = "";
        }

        function updateOfflineStatus()
        {
            $('#back_button').css('pointer-events', 'none');

            $().ready(function() {



                $('input').each(function() {
                    if ($(this).attr('disabled')) {
                        $(this).removeAttr('disabled');
                    }
                    else {
                        $(this).attr({
                            'disabled': 'disabled'
                        });
                    }

                });
            });
            document.getElementById("myNav").style.height = "100%";
        }

        window.addEventListener('online',  updateOnlineStatus);
        window.addEventListener('offline', updateOfflineStatus);

    </script>

    <div class="view-row js-poll-api" data-target="{{path('poll_api')}}" data-printurl="{{path('media_cart_print')}}" data-rooturl="{{path('index', {machine:machine})}}">

        <div class="title-container">
            <div class="title">
                <h2>{{'YOUR ORDER SUMMARY'|trans}}</h2>
            </div>
        </div>
        <div id="overlllllay" onclick="off()">

            <div style="text-align:center;">
                <div class="popup">

            <span class="popuptext show" style="
    z-index: 400; background-color: white;">
                <h1>Are you still here?</h1>
                <br>
                <p style="font-size: 20px;">If no action is taken, <br>
                your order will be cancelled
                </p>
                <a href="https://photoatm.cyint.technology/root/497961d5-1bef-11e7-a8a2-065fd8cb4ee7/en/view" class="btn btn-danger" style="margin-right: 34px;
    border: 1px solid transparent;
    border-radius: 49px;
    margin-bottom: -42px;
    background-color: #EA5F70;">No</a>

                <a href="#" onclick="donotRedirect()" class="btn btn-danger" style="    margin-left: 0px;
    border: 1px solid transparent;
    border-radius: 339px;
    margin-bottom: -42px;
    background-color: #8ADB38;">Yes</a>

            </span>
                </div>
            </div>

        </div>


        <div onclick="on()"></div>

        <script>

            function donotRedirect() {
                if (timer) {
                    clearTimeout(timer);
                    timer = 0;
                }
            }
            function on() {
                if(navigator.onLine) {
                    //alert('online');

                    document.getElementById("overlllllay").style.display = "block";
                    timer= setTimeout(function(){location.href="https://photoatm.cyint.technology/root/497961d5-1bef-11e7-a8a2-065fd8cb4ee7/en/view"} , 30000);

                }
            }

            function off() {
                document.getElementById("overlllllay").style.display = "none";
            }
        </script>



        <script>

            var timeOut;

            function reset() {


                window.clearTimeout(timeOut);

                timeOut = window.setTimeout(on, 60000);


            }

            function redir() {
                console.log('redirected');
            }

            window.onload = function() {


                timeOut = setTimeout(on, 60000)

            }

            window.onkeypress = reset;

            window.onmousemove = reset;
            window.onScrollStopped = reset;



        </script>
        <div id="myNav" class="overlay">
            <a href="javascript:void(0)"></a>
            <div class="overlay-content">
                <p style="font-size:20px; color:white">
                    Oops! No internet connection
                    <br>
                    We are trying to reconnect.
                    <br>
                    Please wait…
                </P>
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="color:white"></i>
                <span class="sr-only">Loading...</span>
            </div>
        </div>


        {% if (cart_data['total'] is odd)%}

            <div class="container">

                <div class="alert alert-danger">
                    <center><p style="font-size: 18px;color: #D0011B;">Please select one more photo to print. This is included in your price.</p></center>
                </div>
            </div>
        {% endif %}
        {% if dis_amount is not empty %}

            <form method="POST" action="">

                <button type="hidden" name=="newdata" class="apply animation-button" value="1" />

            </form>
        {% endif %}
        {% if cart_data['discount']['code'] is not empty %}


        <div class="container">

            <div class="alert info">

                <center><p style="font-size:20px; color:darkgreen;">{% trans with { '%code%': cart_data['discount']['code'], '%amount%': cart_data['discount']['amount']|number_format(1,',',',')} %}Promo code applied successfully! You  saved &euro;%one%{% endtrans %} :)</p></center>

            </div>
        </div>
        {% endif %}
        {% set cart_quantity = 0 %}


        <div class="quantity-container">
            <div class="quantity">

                <h3>{{cart_data['total']}} photos = &euro;{{(cart_data['total'] * cart_data['price'])|round(0,'ceil')}}</h3>
            </div>
        </div>




        <div class="photos-container">
            <div class="photos" id="view" data-mode="horizontal">


                {% set counter = 0 %}

                {% if cart_data['media']|length > 0 %}
                    {% for slot in 0..cart_data['total']-1%}
                        {% set break = false %}
                        {% for mediaid,media in cart_data['media'] if not break %}
                            {% if media['quantity'] is defined and media['quantity'] > 0 %}
                                {% if media['images'][slot] is defined %}


                                    <div class="image-thumb {% if counter == 0%} first {% endif %}" id="media_slot_{{slot}}">
                                        <img src="{{media['images'][slot]['thumbnail']}}" hspace="0" vspace="0" class="photograph {% if media['rotation'][slot] is defined %}rotation-{{media['rotation'][slot]}}{%else%}rotation-0{% endif %} {% if counter >= cart_data['max_quantity']-1%}last{% endif %}" />
                                        {#<img src="/dist/img/remove_cart.png"#}
                                            <i class="remove-item js-modal animation-button fa fa-times-circle" aria-hidden="true" data-target="{{path('modal_delete_cart_item', {id:mediaid, slot:slot, mode: 2})}}" data-event="hookup_delete_cart_item_event" style="font-size: 30px;">
                                        </i>
                                    </div>

                                    {% set counter = counter + 1 %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                   {% endfor %}


                    {% if counter < 4 %}
                        {% for index in (counter)..3 %}
                            <a href="{{path('instagram_media', {term:term,usertag:usertag,mode:mode})}}">
                                <div class="add-more-photos {% if index == 0 %}first{%endif%} animation-button" style="margin-left:{{ (4-counter+index)*-1 }}px;">
                                    <div class="add-more-container">
                                        <div class="add-more">
                                            {#<img src="/fobox/web/dist/img/add_photos.png" class="add-photos" />#}
                                            <i class="add-photos fa fa-camera" aria-hidden="true" style="font-size: 66px;
    color: black;"></i>

                                            <p>{{'Add more photos'|trans}}</p>
                                        </div>
                                    </div>
                                </div>

                            </a>
                        {% endfor %}
                    {% endif %}
                {% endif %}

            </div>
        </div>
            {% if internet is empty %}

        {% endif %}
        <div class="pay-stripe-container">
            <div class="pay-stripe">
                <div class="totals">
                    <table>
                    <tr>
                        {% set required_amount = (cart_data['total'] * cart_data['price'] - cart_data['discount']['amount'])|round(0,'ceil') %}
                        <td><span class="required" id="required">{{'Required amount'|trans}}</span></td>
                        <td class="text-left">{{ required_amount > 0 ? required_amount : 0 | number_format(1,',',',')}} &euro;</td>
                    </tr>
                    <tr>
                        <td><span class="inserted" id="inserted">{{'Amount inserted'|trans}}</span></td>
                        <td><span  class="text-right" id="inserted_total">{% if Transaction.paid is null%}0{%else%}{{Transaction.paid|number_format(0,',',',')}}{% endif %} &euro;</span></td>
                    </tr>
                    </table>
                </div>
                <div class="promo-code">

              {% if cart_data['discount']['code'] is not empty %}

                    {% else %}
                        {% if not (Transaction.paid > 0) %}
                            <form method="POST" action="{{path('media_cart_checkout', {'buster':"now"|date('U')})}}">
                                <input type="text" placeholder="{{'Promo Code'|trans}}" name="promo" id="promo" class="js-entry">
                                <input type="submit" class="apply animation-button" value="{{'Apply'|trans}}" />

                            </form>
                            {% if cart_data['discount']['error'] is defined and cart_data['discount']['error'] is not empty %}
                                <p>{{cart_data['discount']['error']|trans}}</p>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="accept-stripe-container">
            <div class="accept-stripe">
                <div class="content">
                    <span class="accept-text"><img src="/dist/img/euro.png" class="euro"> {{'Accepts bills'|trans}}: 5, 10, 20 &euro;</span>
                    <span class="accept-text"><img src="/dist/img/coins.png" class="coins"> {{'Accepts coins'|trans}} 0.50, 1, 2 &euro;</span>
                    <span class="accept-text"><img src="/dist/img/coins.png" class="coins">
                        {{'Returns'|trans}}:
                        {% for currency in Transaction.Machine.changeRemaining %}
                            {{currency.denomination}} &euro;
                        {% endfor %}
                    </span>
                </div>
            </div>
        </div>

        <div class="helpline-container">
            <div class="helpline">
                <div class="content">
                    <span><img src="/dist/img/phone.png" class="phone"> <strong>{{helpline}}</strong></span>
                    {% if email_settngs['support_email'] is defined %}<span><img src="/dist/img/email.png" class="email"> <strong>{{email_settings['support_email']}}</strong></span>{% endif %}
                </div>
            </div>
        </div>

        {% embed 'default/components/pricebar.html.twig' with { back: path('media_cart_view') } %}{% endembed %}

        {% embed 'default/components/modal.html.twig' %}{% endembed %}


    </div>

{% endblock %}
