{% extends 'base.html.twig' %}

{% block baseheader %}
{% endblock %}

{% block templatestyles %}
	<link rel="stylesheet" href="/dist/lib/virtual-keyboard/css/keyboard-basic.min.css" />
    <link rel="stylesheet" href="/dist/css/default.css"></link>
    <link rel="stylesheet" href="/dist/css/transitions.css"></link>
    <link rel="stylesheet" href="/dist/css/animations.css"></link>
    <link rel="stylesheet" href="/dist/css/modal.css"></link>
    <link rel="stylesheet" href="/dist/css/keyboard.css"></link>
    <link rel="stylesheet" href="/dist/lib/jquery-emoji-picker/css/jquery.emojipicker.css"></link>
    <link rel="stylesheet" href="/dist/lib/jquery-emoji-picker/css/jquery.emojipicker.a.css"></link>
    <link rel="stylesheet" href="/dist/lib/croppie/croppie.css"></link>
    {% block individualstyles %}
    {% endblock %}
{% endblock %}

{% block shellclass %}default {% block pageclass%}{% endblock %}{% endblock %}


{% block mainbody %}
        <div id="indicator"></div>
        {% block primarybody %}
        {% endblock %}
        {% embed 'default/components/modal.html.twig' %}{% endembed %}
{% endblock %}

{% block basefooter %}
	<footer>	
		{{render(controller('AppBundle:Default:messages'))}}
	</footer>

{% endblock %}

{% block templatescripts %}
    <script src="/dist/lib/smoothstate/jquery.smoothState.js"></script>
    <script src="/dist/lib/croppie/croppie.min.js"></script>
    <script src="/dist/js/transitions.js"></script>
    <script src="/dist/js/animations.js"></script>
    <script src="/dist/js/cartbar.js"></script>
    <script src="/dist/js/cart-modify.js"></script>
    <script src="/dist/js/remove-cart-item.js"></script>
    <script src="/dist/js/taghighlighter.js"></script>
    <script src="/dist/js/modal.js"></script>
    <script src="/dist/js/disable_context.js"></script>
    <script src="/dist/js/print.js"></script>
    <script src="/dist/js/prepareprint.js"></script>
    <script src="/dist/js/scroll.js"></script>
    <script src="/dist/js/modify_media.js"></script>
	<script src="/dist/lib/virtual-keyboard/js/jquery.keyboard.js"></script>
    <script src="/dist/lib/jquery-emoji-picker/js/jquery.emojipicker.js"></script>
    <script src="/dist/lib/jquery-emoji-picker/js/jquery.emojis.js"></script>
	<script src="/dist/js/keyboard.js"></script>
    <script src="/dist/js/imagecrop.js"></script>
{% endblock %}

