{% extends 'default/default_shell.html.twig' %}

{% block title %}{{'Search Results'|trans}}{% endblock %}

{% block pageclass%}search login{% endblock%}

{% block javascripts %}
    <script src="/dist/js/ig_login.js"></script>
{% endblock %}

{% block primarybody %}
    <div class="view-row" id="view">
        <div class="">            
            <div class="user-bar">
                <img src="{{user_data['profile_picture']}}" class="image" />
                <div class="content">
                    <strong>{{user_data['username']}}</strong>
                    <span>{{user_data['full_name']}}</span>
                </div>
            </div>
            <div class="lock">
                <img src="/dist/img/lock.png">
                <h3>{{'This user is private'|trans}}</h3>
            </div>
        </div>
    </div>
    <div class="view-row page-content">
            <p> {{'If this account belongs to you, please login below'|trans}}</p>
            <a href="{{auth_url}}" class="btn btn-primary js-login">Login</a>

            <p class="ps">{{'You will be redirected to the Instagram authorization page to login and accept permissions for this application'|trans}}<p>
 
    </div>

    {% embed 'default/components/navigation.html.twig' with {back:path('instagram_search', {term:term})} %}{% endembed %}

{% endblock %}
