{% extends 'default/default_shell.html.twig' %}

{% block title %}{{'Search Results'|trans}}{% endblock %}

{% block pageclass%}search media{% endblock%}


{% block primarybody %}
    {% embed 'default/components/search.html.twig' with {term:term, showcart:true} %}{% endembed %}
    <style>
        #overlaynew {
            position: fixed;
            display: none;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0, 0.9);
            z-index: 999;
            cursor: pointer;
        }
        @media screen and (max-height: 450px) {
            #overlaynew {overflow-y: auto;}
            #overlaynew a {font-size: 20px}
            #overlaynew .closebtn {
                font-size: 40px;
                top: 15px;
                right: 35px;
            }
        }
        #text{
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 50px;
            color: white;
            transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
        }
        #overlllllay {
            position: fixed;
            display: none;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.5);
            z-index: 1000;
            cursor: pointer;
        }
        h1 {
            text-align: center;
        }
        p {
            text-align: center;
            font-size: 142%;
        }
        .popup {
            position: relative;
            display: inline-block;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        .contentta {
            position: relative;
            top: 25%;
            width: 100%;
            text-align: center;
            margin-top: 30px;
        }
        /* The actual popup */
        .popup .popuptext {
            visibility: hidden;
            width: 535px;
            height: 290px;
            border-radius: 25px;
            padding: 25px;
            background-clip: padding-box;
            background-color: #fff
            position: relative;
            border: 1px solid rgba(0,0,0,.2);
            outline: 0;
            margin-top: 136px;

            text-align: center;
            border-radius: 15px;
            padding: 12px 0;
            position: absolute;
            /*z-index: 1;
            bottom: 200%;
            left: 100%;*/
            margin-left: -287px;
        }

        /* Popup arrow */
        .popup .popuptext::after {
            content: "";
            position: absolute;
            top: 200%;
            left: 100%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

        /* Toggle this class - hide and show the popup */
        .popup .show {
            visibility: visible;
            -webkit-animation: fadeIn 1s;
            animation: fadeIn 1s;
        }

        /* Add animation (fade in the popup) */



        .buttoncss {
            padding-right: 388px;
            position: absolute;
            bottom: 92px;
            right: -55px;
        }
        .buttoncssright {
            padding-right: 363px;
            position: fixed;
            bottom: 404px;
            right: 226px;
        }

    </style>
    <script>

        (function($) {
            var IS_IOS = /iphone|ipad/i.test(navigator.userAgent);
            $.fn.nodoubletapzoom = function() {
                if (IS_IOS)
                    $(this).bind('touchstart', function preventZoom(e) {
                        var t2 = e.timeStamp
                            , t1 = $(this).data('lastTouch') || t2
                            , dt = t2 - t1
                            , fingers = e.originalEvent.touches.length;
                        $(this).data('lastTouch', t2);
                        if (!dt || dt > 500 || fingers > 1) return; // not double-tap

                        e.preventDefault(); // double tap - prevent the zoom
                        // also synthesize click events we just swallowed up
                        $(this).trigger('click').trigger('click');
                    });
            };
        })(jQuery);
    </script>

    <div id="overlllllay" onclick="off()">

        <div style="text-align:center;">
            <div class="popup">

            <span class="popuptext show" style="
    z-index: 400; background-color: white;">
                <h1>Are you still here?</h1>
                <br>
                <p style="font-size: 20px;">If no action is taken, <br>
                your order will be cancelled
                </p>
                <a href="https://photoatm.cyint.technology/root/497961d5-1bef-11e7-a8a2-065fd8cb4ee7/en/view" class="btn btn-danger" style="margin-right: 34px;
    border: 1px solid transparent;
    border-radius: 49px;
    margin-bottom: -42px;
    background-color: #EA5F70;">No</a>

                <a href="#" onclick="donotRedirect()" class="btn btn-danger" style="    margin-left: 0px;
    border: 1px solid transparent;
    border-radius: 339px;
    margin-bottom: -42px;
    background-color: #8ADB38;">Yes</a>

            </span>
            </div>
        </div>

    </div>
    <div onclick="on()"></div>
    <div id="overlaynew" class="contentta" style="margin-top: 0px;
">
         <p style="font-size:20px; color:white; margin-top: 267px; margin-left: 105px;">
                Oops! No internet connection
                <br>
                We are trying to reconnect.
                <br>
                Please wait…
            </P>
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="color:white;  margin-left: 100px;"></i>
            <span class="sr-only">Loading...</span></div>
    <script>
        var redirectToHome=false;

        function updateOnlineStatus()
        {
            location.reload();
           // document.getElementById("overlaynew").style.display = "none";


        }
        function updateOfflineStatus() {
            // Show a different icon based on offline/online
            $('#back_button').css('pointer-events', 'none');
            $('#next_button').css('pointer-events', 'none');


            $().ready(function() {



                $('input').each(function() {
                    if ($(this).attr('disabled')) {
                        $(this).removeAttr('disabled');
                    }
                    else {
                        $(this).attr({
                            'disabled': 'disabled'
                        });
                    }

                });
            });
            document.getElementById("overlaynew").style.display = "block";

        }

        // Update the online status icon based on connectivity
        window.addEventListener('online',  updateOnlineStatus);
        window.addEventListener('offline', updateOfflineStatus);



    </script>
    <script>

        function donotRedirect() {
            if (timer) {
                clearTimeout(timer);
                timer = 0;
            }
        }
        function on() {
            if(navigator.onLine) {

                document.getElementById("overlllllay").style.display = "block";
                timer= setTimeout(function(){location.href="https://photoatm.cyint.technology/root/497961d5-1bef-11e7-a8a2-065fd8cb4ee7/en/view"} , 30000);

            }
        }



        function off() {
            if(navigator.onLine) {
                // alert('online');

                document.getElementById("overlllllay").style.display = "none";
            }
        }
    </script>



    <script>


        var timeOut;

        function reset() {

            window.clearTimeout(timeOut);

            timeOut = window.setTimeout(on, 30000);


        }

        function redir() {
            console.log('redirected');
        }

        window.onload = function() {


            timeOut = setTimeout(on, 30000)


        }

        window.onkeypress = reset;
        window.onmousemove = reset;
        window.onScrollStopped = reset;


    </script>
    <div class="m-scene" id="view">
        <div class="scene_element scene_element--fadeinup">


            <div class="view-row media-cart-view" data-addurl="{{path('media_cart_modify', {mode:'add'})}}" data-removeurl="{{path('media_cart_modify',{mode:'remove'})}}" data-maxquantity="{{cart_data['max_quantity']}}">
                {% if media_results['data']|length > 0 %}
                    {% for media in media_results['data'] %}
                        <div
                            class="image-card {% if loop.index0 == 0 or loop.index0 % 4 == 0 %}first{% endif %}"
                            id="media_{{media.id}}"
                            data-id="{{media.id}}"
                            data-thumbnail="{{media.images.thumbnail.url}}"
                            data-standardres="{{media.images.standard_resolution.url}}"
                            data-lowres="{{media.images.low_resolution.url}}"
                            data-caption="{{media.caption.text|e}}"
                            data-date="{{media.caption.created_time}}"
                            data-location="{% if media.location is not empty %}{{media.location|json_encode}}{% endif %}"
                            data-users="{% if media.users_in_photo is not empty %}{{ media.users_in_photo|json_encode}}{% endif %}"
                        >
                            <div class="overlay {% if cart_data['media'][media.id]['quantity'] is not defined or cart_data['media'][media.id]['quantity'] < 1%}inactive{% endif %}  media-image" >
                                <img src="{{media.images.low_resolution.url}}" class="media-image" />
                            </div>
                            <div class="controls {% if cart_data['media'][media.id]['quantity'] is not defined or cart_data['media'][media.id]['quantity'] < 1 %}inactive{% endif %}">
                                {#<img src="/fobox/web/dist/img/minus.png"#}
                                   <i id="reduce_media_{{media.id}}"
                                    {% if cart_data['media'][media.id] is not defined
                                        or cart_data['media'][media.id] is empty
                                        or (
                                            cart_data['media'][media.id]['quantity'] is not defined
                                            or cart_data['media'][media.id]['quantity'] < 1
                                        )
                                    %} disabled {% endif %}
                                      {#class="js-reduce-media left fa fa-minus-circle" style="font-size: 48px;"#}

                                      class="js-reduce-media fa fa-minus-circle" style="font-size: 48px;"
                                    data-id="{{media.id}}"
                                   ></i>

                                <span
                                    id="total_media_{{media.id}}"
                                    class="js-total-media" style="margin-right: 40px;
                                                                  font-size: 36px;
                                                                  margin: 28px;"
                                >{% if cart_data['media'][media.id] is defined and cart_data['media'][media.id]['quantity'] is defined %}{{cart_data['media'][media.id]['quantity']}}{% else %}0{% endif %}</span>
                                {#<img src="/fobox/web/dist/img/plus.png"#}
                                   <i id="add_media_{{media.id}}"
                                    data-id="{{media.id}}"
                                      {#class="js-add-media right fa fa-plus-circle" style="font-size: 48px;"#}
                                      class="js-add-media fa fa-plus-circle" style="font-size: 48px;"
                                    {% if cart_data['total'] is defined
                                        and cart_data['total'] > (cart_data['max_quantity']-1)
                                    %} disabled {% endif %}
                                   ></i>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="card">
                        <strong>{{'No media found under'|trans}} {% if type == 'user' %}@{% else %}#{% endif %}{{tag}}</strong>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% embed 'default/components/navigation.html.twig' with {'back':path('instagram_search', {'term':term}), 'next':path('media_cart_view'), 'nextcondition':(cart_data['total'] > 0)} %}{%endembed %}
{% endblock %}
