{% extends 'default/default_shell.html.twig' %}


{% block title %}{{'Home'|trans}}{% endblock %}

{% block pageclass%}home homeee{% endblock%}

{% block primarybody %}

    <style>

        body {
            -moz-transform: scale(0.10, 0.10); /* Moz-browsers */
            zoom: 0.10; /* Other non-webkit browsers */
            zoom: 100%; /* Webkit browsers */
        }
        .overlay {
            height: 0%;
            width: 100%;
            position: fixed;
            z-index: 9999;
            top: 0;
            left: 0;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0, 0.9);
            overflow-y: hidden;
            transition: 0.5s;
        }
        .overlay-content {
            position: relative;
            top: 25%;
            width: 100%;
            text-align: center;
            margin-top: 30px;
        }

        .overlay a {
            padding: 8px;
            text-decoration: none;
            font-size: 36px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

        .overlay a:hover, .overlay a:focus {
            color: #f1f1f1;
        }

        .overlay .closebtn {
            position: absolute;
            top: 20px;
            right: 45px;
            font-size: 60px;
        }

        @media screen and (max-height: 450px) {
            .overlay {overflow-y: auto;}
            .overlay a {font-size: 20px}
            .overlay .closebtn {
                font-size: 40px;
                top: 15px;
                right: 35px;
            }
        }


        .homeee {

            background-image: url(/dist/img/{{ (takeimage) }})!important;
            {#background-image: url(/fobox/web/dist/img/{{ (takeimage) }});#}
        }
        .newfont {
            /*font-size: 50px;
            color: lightblue;
            /* border-radius: 14px; */
            /*margin-right: 10px;
            border: solid 2px white;
            border-radius: 20px;
            /* margin-top: 0px; */
           /* padding-top: -1px;*/
            /* strat */
            /*color: lightblue;*/
            /*border-radius: -18px;*/
            /* margin-right: 55px; */
            /*border: solid 2px white;*/
            /*border-radius: 77px;*/
            margin-top: -1px;
            padding-top: -11px;
            margin-top: 0px;
            float: right;
            width: 65px;
            text-align: center;
            height: 59px;
            padding-right: 3px;
            /*end*/

        }
    </style>

    <script>

        (function($) {
            var IS_IOS = /iphone|ipad/i.test(navigator.userAgent);
            $.fn.nodoubletapzoom = function() {
                if (IS_IOS)
                    $(this).bind('touchstart', function preventZoom(e) {
                        var t2 = e.timeStamp
                            , t1 = $(this).data('lastTouch') || t2
                            , dt = t2 - t1
                            , fingers = e.originalEvent.touches.length;
                        $(this).data('lastTouch', t2);
                        if (!dt || dt > 500 || fingers > 1) return; // not double-tap

                        e.preventDefault(); // double tap - prevent the zoom
                        // also synthesize click events we just swallowed up
                        $(this).trigger('click').trigger('click');
                    });
            };
        })(jQuery);
    </script>
    <script>
        function updateOnlineStatus()
        {

            location.reload();
            //document.getElementById("status").innerHTML = "";
        }

        function updateOfflineStatus()
        {
            document.getElementById("myNav").style.height = "100%";

        }

        window.addEventListener('online',  updateOnlineStatus);
        window.addEventListener('offline', updateOfflineStatus);

    </script>


<div class="m-scene">
    <div class="scene_element scene_element--fadeinup">
        <div id="myNav" class="overlay">
            <a href="javascript:void(0)"></a>
            <div class="overlay-content">
                <p style="font-size:20px; color:white">
                    Oops! No internet connection
                    <br>
                    We are trying to reconnect.
                    <br>
                    Please wait…
                </P>
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="color:white"></i>
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        </div>
    <script>


        var url =  {{(takeimmm|json_encode|raw)}};
//        var url = ['/fobox/web/dist/img/Webp.net-compress-image.jpg' ,
//                '/fobox/web/dist/img/d7e74f8ceba7e6179ed7fef9b9bcab52BeFunkyCollage93x6.jpg'];
            curentImageIndex = 0;
            setInterval(function(){
               //alert(packageDetails);
                console.log(url[curentImageIndex])
                var p = $('.homeee');
                p.css("background-image","url("+url[curentImageIndex++] + ")","important");
               // alert(p);
                if(curentImageIndex>= url.length){curentImageIndex = 0}
            }, 120000);



    </script>
        <div class="view-row title-row">
            <div class="view-cell left-logo">
                {#<h1>{{'PhotoATM'|trans}}</h1>#}
                <h1>{{'FoBox'|trans}}</h1>

            </div>
            <div class="view-cell right-buttons" style="margin-left: 419px;
    margin-top: -114px;">
                <a href="{{path('index', {_locale:'en','machine':machine})}}"><img src="/dist/img/en.png" class="animation-button" /></a>
                <a href="{{path('index', {_locale:'es','machine':machine})}}"><img src="/dist/img/es.png" class="animation-button" /></a>
                <a href="https://photoatm.cyint.technology/app/en/info/"><img src="/dist/img/help_info.png" class="animation-button" style="width: 73px;
    height: 57px;
    border: 1px;
    margin-left: 2px"/></a>

                <!--img src="/fobox/web/dist/img/info.png" class="info" /-->

                <div class="newfont">
                    {#<a href="https://photoatm.cyint.technology/app/en/info/">  <i class="fa fa-question-circle active" aria-hidden="true" style="font-size: 75px;#}
      {#margin-top: -10px;#}
      {#margin-left: -2px; color: white;#}
{#"></i></a>#}

                      {#<a href="https://photoatm.cyint.technology/app/en/info/"> <i class="fa fa-question info animation-button" style="font-size:50px;color:lightblue;margin-top: 1px;"></i>#}
               </a>
                </div>

            </div>
        </div>


        <div class="view-row primary-form">
            <div class="subtitle">
                <h1>{{'Instagram Photo Printing'|trans}}</h1>
            </div>
            <div class="form-field">
                <form action="{{path('instagram_search', {'buster':"now"|date('U')})}}" method="POST" id="search_form">
                    <input type="text" class="text-field js-entry" data-mode="search" data-placeholder="Type username or hashtag" data-value="" id="term" name="term" placeholder="{{'Search by username or hashtag'|trans}}" >
                    {#<span class="fa fa-instagram errspan"></span>#}
                </form>
            </div>
        </div>
    </div>

    {% embed 'default/components/pricebar.html.twig' %}{% endembed %}

</div>



<img src="https://instagram.com/accounts/logout/" width="0" height="0" />
{% endblock %}




