{% extends 'default/default_shell.html.twig' %}

{% block title %}{{'Home'|trans}}{% endblock %}

{% block pageclass%}home background-image{% endblock%}

{% block primarybody %}
    <style>

        .background-image  {
            background-image: url(/dist/img/info_image.jpg) !important;
            background-color: #cccccc !important;
        }


    </style>
    <div class="view-row title-row">
        <div class="view-cell left-logo">

        </div>
        <div class="view-cell right-buttons">

            <!--img src="/fobox/web/dist/img/en.png" alt="Smiley face" height="500" width="400" class=""-->





        </div>
    </div>

<div class="m-scene">
    <div class="scene_element scene_element--fadeinup">



        <div class="view-row primary-form">
            <div class="subtitle">
                <h1 style="margin-top: -250px; font-size: 100px;">{{'FoBox '|trans}}</h1>
                <h1 style="font-size: 50px; color:white;font-size: 477%;font-weight: bold;">Instagram Photo <br>Printing Kiosk</h1>

            </div>

        </div>
        <div col-md-12>

            <p style= "padding: 6%;
    margin-left: -15px;
    font-size: 27px; letter-spacing: 2px; font-family: inherit;" >FoBox is new and fun solution for digital photo printing. Print your memories instantly from Instagram in cool polaroid size in the matter of few minutes.
                </p>
            <hr noshade  align="center" width="80%"style="padding:0.05%; margin-top: -45px;">
            <p style="text-align: center; font-size: 282%; margin-left: 25px;font-weight:40px"> Choose your photo size</p>
            <p style="text-align: center; font-size: 200%;font-weight:40px">Fobox kiosk can print photo in the following formats</p>

           <div class="col-md-6">
               <p style="text-align: center; font-size: 26px;">4x3<p>
               <img src="/dist/img/kiosk4x3.png" alt="Smiley face" style="margin-left: 154px;">

               </div>
                   <div class="col-md-6">
                       <p style="margin-left: 145px; font-size: 26px;">4x6<p>
                       <img src="/dist/img/kiosk4x6.png" alt="Smiley face" style="margin-left: -54px;" >
                           <br><br>             <br><br>


                   </div>
            <hr noshade  align="center" width="80%"style="padding:0.05%">

                    <div class="content">
                        <p style="text-align: center; font-size: 30px">   <img src="/dist/img/euro.png" alt="Smiley face" style="margin-left: 0px;     margin-left: -8px;
"> {{'Accepts bills'|trans}}: 5, 10, 20 &euro;
                        </p>
                        <p style="text-align: center; font-size: 30px"><img src="/dist/img/coins.png" alt="Smiley face" style="margin-left: 0px;margin-left: -65px;"> {{'Accepts coins'|trans}}: 1, 2 &euro;
                        </p>
                        <p style="text-align: center; font-size: 30px"> <img src="/dist/img/coins.png" alt="Smiley face" style="margin-left: -165px;"> {{'Returns'|trans}}:  1 &euro;
                        </p>


            </div>

            <hr noshade  align="center" width="80%"style="padding:0.05%">

            <p style="text-align: center; font-size: 30px"> Technical suport: <b>+34 &nbsp;666 &nbsp;876 &nbsp;465</b></p>
            <p style="text-align: center; font-size: 30px; font-family: sans-serif;"> Suggestions & feedback: <b>info@fobox.io</b></p>
            <p style="text-align: center; font-size: 30px"> Instagram: <b>@fobox.io</b></p>




        </div>

    <a href="https://photoatm.cyint.technology/root/497961d5-1bef-11e7-a8a2-065fd8cb4ee7/en/view" ><button type="button" class="btn btn-info" style="padding: 19px 50px;
    margin-left: 455px;
    border: 0px solid transparent;
    border-radius: 50px;
    font-size: 33px; background-color: #80c2f2; margin-top: 28px;">Back</button>
    </a>
</div>
    <br> <br>
{% endblock %}
