{% extends 'default/default_shell.html.twig' %}

{% block title %}{{'Login to Instagram'|trans}}{% endblock %}

{% block pageclass%}search{% endblock%}

{% block primarybody %}
    <div class="view-row">
        <form method="POST" id="login-form" action="https://www.instagram.com/accounts/login/?next=/oauth/authorize/%3Fclient_id%3D3f5a053adf944de89108210cbd91ee4c%26redirect_uri%3Dhttps%3A//photoatm.cyint.technology/en/instagram/authorized%26response_type%3Dcode%26scope%3Dbasic%2Bpublic_content&amp;force_classic_login">
			<input type="hidden" name="csrfmiddlewaretoken" value="w5AgG5bH8yy9IRie9aFUejpQIS4EIWq0">
			<input type="text" id="id_username" maxlength="30" name="username">								 
			<input type="password" id="id_password" />			
		</form>
    </div>
{% endblock %}
