{% extends 'default/default_shell.html.twig' %}

{% block title %}{{'Home'|trans}}{% endblock %}

{% block pageclass%}home support{% endblock%}

{% block custom_meta_content %}
    <meta http-equiv="refresh" content="60;URL='{{path('index',{machine:machine})}}'" />
{% endblock %}

{% block primarybody %}

<div class="m-scene">
    <div class="scene_element scene_element--fadeinup">

        <div class="view-row title-row">
            <div class="view-cell left-logo">
                <h1>{{'FoBox'|trans}}</h1>
            </div>
            <div class="view-cell right-buttons">
                <a href="{{path('support_message', {_locale:'en'})}}"><img src="/dist/img/en.png" class="animation-button" /></a>
                <a href="{{path('support_message', {_locale:'es'})}}"><img src="/dist/img/es.png" class="animation-button" /></a>
                <img src="/dist/img/info.png" class="info" />
            </div>
        </div>


        <div class="view-row primary-form">
            <div class="alert alert-danger">
                <p>{{'This kiosk is temporarily unavailable.'|trans}} {% if helpline is defined and helpline is not empty %} {{'Please contact'|trans}} {{helpline}} {{'for more information or to obtain technical support'|trans}}{% endif %}</p>
            </div>
        </div>

    </div>
</div>

{% endblock %}
