{% extends 'default/default_shell.html.twig' %}


{% block title %}{{'Search Results'|trans}}{% endblock %}

{% block pageclass%}search{% endblock%}

{% block primarybody %}
 {% embed 'default/components/search.html.twig' with {term:term} %}{% endembed %}

    <style>
        .button {
            background-color: #87CEFA;
            border: none;
            color: white;
            padding: 22px 63px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 19px;
            margin: 50px 387px;
            cursor: pointer;

        }
        h1 {
            text-align: center;
        }
        p {
            text-align: center;
            font-size: 142%;
        }


        .overlay {
            height: 0%;
            width: 100%;
            position: fixed;
            z-index: 9999;
            top: 0;
            left: 0;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0, 0.9);
            overflow-y: hidden;
            transition: 0.5s;
        }

        .overlay-content {
            position: relative;
            top: 25%;
            width: 100%;
            text-align: center;
            margin-top: 30px;
        }

        .overlay a {
            padding: 8px;
            text-decoration: none;
            font-size: 36px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

        .overlay a:hover, .overlay a:focus {
            color: #f1f1f1;
        }

        .overlay .closebtn {
            position: absolute;
            top: 20px;
            right: 45px;
            font-size: 60px;
        }

        @media screen and (max-height: 450px) {
            .overlay {overflow-y: auto;}
            .overlay a {font-size: 20px}
            .overlay .closebtn {
                font-size: 40px;
                top: 15px;
                right: 35px;
            }
        }

        .popup {
            position: relative;
            display: inline-block;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        /* The actual popup */
        .popup .popuptext {
            visibility: hidden;
            width: 535px;
            height: 290px;
            border-radius: 25px;
            padding: 25px;
            background-clip: padding-box;
            background-color: #fff
            position: relative;
            border: 1px solid rgba(0,0,0,.2);
            outline: 0;
            margin-top: 136px;

            text-align: center;
            border-radius: 15px;
            padding: 12px 0;
            position: absolute;
            /*z-index: 1;
            bottom: 200%;
            left: 100%;*/
            margin-left: -287px;
        }

        /* Popup arrow */
        .popup .popuptext::after {
            content: "";
            position: absolute;
            top: 200%;
            left: 100%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

        /* Toggle this class - hide and show the popup */
        .popup .show {
            visibility: visible;
            -webkit-animation: fadeIn 1s;
            animation: fadeIn 1s;
        }

        /* Add animation (fade in the popup) */



        .buttoncss {
            padding-right: 388px;
            position: absolute;
            bottom: 92px;
            right: -55px;
        }
        .buttoncssright {
            padding-right: 363px;
            position: fixed;
            bottom: 404px;
            right: 226px;
        }

        #overlllllay {
            position: fixed;
            display: none;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.5);
            z-index: 2;
            cursor: pointer;
        }

    </style>
    <script>

        (function($) {
            var IS_IOS = /iphone|ipad/i.test(navigator.userAgent);
            $.fn.nodoubletapzoom = function() {
                if (IS_IOS)
                    $(this).bind('touchstart', function preventZoom(e) {
                        var t2 = e.timeStamp
                            , t1 = $(this).data('lastTouch') || t2
                            , dt = t2 - t1
                            , fingers = e.originalEvent.touches.length;
                        $(this).data('lastTouch', t2);
                        if (!dt || dt > 500 || fingers > 1) return; // not double-tap

                        e.preventDefault(); // double tap - prevent the zoom
                        // also synthesize click events we just swallowed up
                        $(this).trigger('click').trigger('click');
                    });
            };
        })(jQuery);
    </script>
    <script>

        var redirectToHome=false;

        function updateOnlineStatus()
        {
            location.reload();

        }

        function updateOfflineStatus()
        {
            $('#back_button').css('pointer-events', 'none');

            $().ready(function() {



                $('input').each(function() {
                    if ($(this).attr('disabled')) {
                        $(this).removeAttr('disabled');
                    }
                    else {
                        $(this).attr({
                            'disabled': 'disabled'
                        });
                    }

                });
            });
            document.getElementById("myNav").style.height = "100%";

        }

        window.addEventListener('online',  updateOnlineStatus);
        window.addEventListener('offline', updateOfflineStatus);

    </script>



    <div class="m-scene" id="view">

        <div class="scene_element scene_element--fadeinup">
            {% if internet == 1 %}

            <div id="overlllllay" onclick="off()">

                <div style="text-align:center;">
                    <div class="popup">

            <span class="popuptext show" style="
    z-index: 400; background-color: white;">
                <h1>Are you still here?</h1>
                <br>
                <p style="font-size: 20px;">If no action is taken, <br>
                your order will be cancelled
                </p>
                <a href="https://photoatm.cyint.technology/root/497961d5-1bef-11e7-a8a2-065fd8cb4ee7/en/view" class="btn btn-danger" style="margin-right: 34px;
    border: 1px solid transparent;
    border-radius: 49px;
    margin-bottom: -42px;
    background-color: #EA5F70;">No</a>

                <a href="#" onclick="donotRedirect()" class="btn btn-danger" style="    margin-left: 0px;
    border: 1px solid transparent;
    border-radius: 339px;
    margin-bottom: -42px;
    background-color: #8ADB38;">Yes</a>

            </span>
                    </div>
                </div>

            </div>


            <div onclick="on()"></div>

            {% endif %}

            <script>

                function donotRedirect() {
//                    redirectToHome=false
                    if (timer) {
                        clearTimeout(timer);
                        timer = 0;
                    }
                }

                function on() {
                    if(navigator.onLine) {
                        //alert('online');

                        document.getElementById("overlllllay").style.display = "block";
//                        alert(redirectToHome);
//                        redirectToHome=false;

                        //setTimeout(off, 30000);
//                        if(redirectToHome){
                            timer= setTimeout(function(){location.href="https://photoatm.cyint.technology/root/497961d5-1bef-11e7-a8a2-065fd8cb4ee7/en/view"} , 30000);
                        }
                    }



                function off() {
                    if(navigator.onLine) {
                       // alert('online');

                        document.getElementById("overlllllay").style.display = "none";
                    }
                }

            </script>



        <script>

            var timeOut;

            function reset() {


                window.clearTimeout(timeOut);

                timeOut = window.setTimeout(on, 30000);



            }

            function redir() {
                console.log('redirected');
            }

            window.onload = function() {


                timeOut = setTimeout(on, 30000)

            }

            window.onkeypress = reset;

            window.onmousemove = reset;

        </script>
        <div id="myNav" class="overlay">
            <a href="javascript:void(0)"></a>
            <div class="overlay-content">
                <p style="font-size:20px; color:white">
                    Oops! No internet connection
                    <br>
                    We are trying to reconnect.
                    <br>
                    Please wait…
                </P>
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="color:white"></i>
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <div class="view-row scrollable-view">
            <div class="user-column column">

                {% if user_results is defined and user_results['data']|length > 0 %}
                    {% for user in user_results['data']%}
                        <a href="{{path('instagram_media', {'mode':'user', 'usertag':user.id})}}" class="js-button-card">
                            <div class="card column-left">
                                {% if user.profile_picture is defined and user.profile_picture is not empty %}
                                    <div class="image">
                                        <img src="{{user.profile_picture}}" class="circle" alt="{{user.username}}"/>
                                    </div>
                                {% endif %}

                                <div class="content">
                                    <strong>{{user.username}}</strong>
                                    <span>{{user.full_name}}</span>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                {% else %}
                    <div class="card column-left">


                        <strong class="empty">{{'No matching users found'|trans}}</strong>
                    </div>

                {% endif %}
            </div>
            <div class="tag-column column" >
                {% if tag_results['data']|length > 0 %}
                    {% for tag in tag_results['data'] %}
                        <a href="{{path('instagram_media', {mode:'tag', 'usertag':tag.name})}}" class="js-button-card">
                            <div class="card column-right">
                                <strong>#{{tag.name}}</strong>
                                <span>{{tag.media_count|number_format(0,'.',',')}} images</span> 
                            </div>
                        </a>
                    {% endfor %}
                {% else %}
                    <div class="card column-right">
                        <strong class="empty">{{'No matching Hashtags found'|trans}}</strong>
                    </div>
                {% endif %}
            </div>
        </div>


        {% if user_results['data'] is empty %}

            <div id="link-box" class="centerd">


                <a href="https://api.instagram.com/oauth/authorize/?client_id=3f5a053adf944de89108210cbd91ee4c
&redirect_uri=https://photoatm.cyint.technology/app/es/instagram/authorized/code&response_type=code" class="button"><p>Log in</p></a>

                <h1>This is private user please login to continue</h1>
            </div>
        {% endif %}
    </div>
</div>

{% embed 'default/components/navigation.html.twig' with {back:path('instagram_search', {term:term}), next:path('media_cart_view'), nextcondition:(cart_data['total'] > 0)} %}{% endembed %}
{% endblock %}
