@import 'variables';

.ui-keyboard {
    position: fixed;
    top: inherit;
    bottom: 0px;
    height: 375px; 
    transition: all .25s;
    background-color: #d1d4db;
    .ui-keyboard-preview-wrapper {
		position: fixed;
	    bottom: 375px;
    	left: 0px;
	    width: 1080px;
    	height: 90px;
        input {
            width:  100%;
            height: 90px;
            font-family: @font-1;
            font-size: 35px;
            border: solid 1px #5c5c5c;
            border-radius: 0px;
            padding-left: 240px;
        }
    }

    .ui-keyboard-keyset {       
        button {
            &.ui-keyboard-button {
                width: 84px;
                height: 80px;
                margin-left: 5px;
                margin-right: 5px;
                margin-top: 5px;
                margin-bottom: 5px;

                &.ui-keyboard-accept {
					width: 153px;
                    background-color: #acb3bd;
                    background-image: none;
					padding-top: 25px;
				    padding-left: 20px;
                    font-size: 22px;
				}

				&.ui-keyboard-bksp  {
                    background-color: #acb3bd;
                    background-image: none;
				}

                &.ui-keyboard-shift {
                    background-color: #acb3bd;
                    background-image: none;
                }

                &.ui-keyboard-space {
				    width:  559px;
                }

                &.ui-keyboard-normal {
                    background-color: #acb3bd;
                    background-image: none;
                    font-size: 22px;                           
                }

                &.ui-keyboard-meta1 {
	                background-color: #acb3bd;
                    background-image: none;				
				}
            }   
        }
    }    
}

.glyphicon-remove {
    position:  absolute;
    top: 20px;
    right: 30px;
    font-size:  40px;
    color: #5c5c5c;
    cursor: pointer;
}

.emojiPicker {
	top: inherit !important;
	bottom: 135px;
    z-index: 999999 !important;
    left: 105px !important;
}

