@import url('https://fonts.googleapis.com/css?family=Patua+One');
@import url('https://fonts.googleapis.com/css?family=Lato');

@border-color: #80c3f3 ;
@font-1: 'Lato', sans-serif;
@font-2: 'Patua One', cursive;


