{% extends 'admin/admin_shell.html.twig' %}

{% block title %}Admin{% endblock %}

{% block settingsclass %}active{% endblock %}

{% block heading %}General Settings{% endblock %}

{% block adminbody %}

     <form method="post">

        <h3> Pagination </h3>
        <div class="form-group">
            <label>Items Per Page</label>
            <div class="form-field">
                <input class="form-control" type="text" name="pagination_items_per_page" id="pagination_items_per_page" value="{{settings['pagination_items_per_page']|default('6')}}"/>
            </div>
        </div>

        <h3> Checkout </h3>
        <div class="form-group">
            <label>Helpline</label>
            <div class="form-field">
                <input class="form-control" type="text" name="checkout_helpline" id="checkout_helpline" value="{{settings['checkout_helpline']|default('+34 666 876 465')}}"/>
            </div>
        </div>
        <div class="form-group">
            <label>Support Email</label>
            <div class="form-field">
                <input class="form-control" type="text" name="checkout_email" id="checkout_email" value="{{settings['checkout_email']|default('')}}"/>
            </div>
        </div>

        <h3> AWS </h3>
        <div class="form-group">
            <label>Screenshot Endpoint</label>
            <div class="form-field">
                <input class="form-control" type="text" name="aws_screenshot_endpoint" id="aws_screenshot_endpoint" value="{{settings['aws_screenshot_endpoint']|default('')}}"/>
            </div>
        </div>
        <div class="form-group">
            <label>Reauthentication Endpoint</label>
            <div class="form-field">
                <input class="form-control" type="text" name="aws_reauthentication_endpoint" id="aws_reauthentication_endpoint" value="{{settings['aws_reauthentication_endpoint']|default('')}}"/>
            </div>
        </div>

        <div class="form-group">
            <label>S3 Host</label>
            <div class="form-field">
                <input class="form-control" type="text" name="aws_s3_host" id="aws_s3_host" value="{{settings['aws_s3_host']|default('')}}"/>
            </div>
        </div>
        <div class="form-group">
            <label>PhotoATM Host</label>
            <div class="form-field">
                <input class="form-control" type="text" name="aws_photoatm_host" id="aws_photoatm_host" value="{{settings['aws_photoatm_host']|default('')}}"/>
            </div>
        </div>


        <h3> Timing </h3>
        <div class="form-group">
            <label>Photo Print Time</label>
            <div class="form-field">
                <input class="form-control" type="text" name="timing_photo_print" id="timing_photo_print" value="{{settings['timing_photo_print']|default('1800')}}"/>
            </div>
        </div>

        <h3> Kiosk Credentials </h3>
        <div class="form-group">
            <label>Hopper Auth Token</label>
            <div class="form-field">
                <input class="form-control" type="text" name="credentials_hopper_authtoken" id="credentials_hopper_authtoken" value="{{settings['credentials_hopper_authtoken']|default('')}}"/>
            </div>
        </div>
        <div class="form-group">
            <label>MySql Server Host</label>
            <div class="form-field">
                <input class="form-control" type="text" name="credentials_server" id="credentials_server" value="{{settings['credentials_server']|default('')}}"/>
            </div>
        </div>
        <div class="form-group">
            <label>MySql Server Database</label>
            <div class="form-field">
                <input class="form-control" type="text" name="credentials_database" id="credentials_database" value="{{settings['credentials_database']|default('')}}"/>
            </div>
        </div>
        <div class="form-group">
            <label>MySql Server Username</label>
            <div class="form-field">
                <input class="form-control" type="text" name="credentials_username" id="credentials_username" value="{{settings['credentials_username']|default('')}}"/>
            </div>
        </div>
        <div class="form-group">
            <label>MySql Server Password</label>
            <div class="form-field">
                <input class="form-control" type="text" name="credentials_password" id="credentials_password" value="{{settings['credentials_password']|default('')}}"/>
            </div>
        </div>


        <h3> SMTP </h3>
        <div class="form-group">
            <label>Hostname</label>
            <div class="form-field">
                <input class="form-control" type="text" name="smtp_host" id="smtp_host" value="{{settings['smtp_host']|default('TEMPLATE PLACEHOLDER')}}"/>
            </div>
        </div>
        <div class="form-group">
            <label>User</label>
            <div class="form-field">
                <input class="form-control" type="text" name="smtp_user" id="smtp_user" value="{{settings['smtp_user']|default('TEMPLATE PLACEHOLDER')}}"/>
            </div>
        </div>
        <div class="form-group">
            <label>Password</label>
            <div class="form-field">
                <input class="form-control" type="text" name="smtp_password" id="smtp_password" value="{{settings['smtp_password']|default('TEMPLATE PLACEHOLDER')}}"/>
            </div>
        </div>
        <div class="form-group">
            <label>Port</label>
            <div class="form-field">
                <input class="form-control" type="text" name="smtp_port" id="smtp_port" value="{{settings['smtp_port']|default('TEMPLATE PLACEHOLDER')}}"/>
            </div>
        </div>
        <div class="form-group">
            <label>From Name</label>
            <div class="form-field">
                <input class="form-control" type="text" name="smtp_from" id="smtp_from" value="{{settings['smtp_from']|default('TEMPLATE PLACEHOLDER')}}"/>
            </div>
        </div>
        <div class="form-group">
            <label>From Email</label>
            <div class="form-field">
                <input class="form-control" type="text" name="smtp_email" id="smtp_email" value="{{settings['smtp_email']|default('TEMPLATE PLACEHOLDER')}}"/>
            </div>
        </div>
        <div class="form-group">
            <label>Error Report Email</label>
            <div class="form-field">
                <input class="form-control" type="text" name="smtp_support" id="smtp_support" value="{{settings['smtp_support']|default('TEMPLATE PLACEHOLDER')}}"/>
            </div>
        </div>

        <h3> Instagram </h3>

        <div class="form-group">
            <label>Base Instagram Username</label>
            <div class="form-field">
                <input class="form-control" type="text" name="instagram_base_username" id="instagram_base_username" value="{{settings['instagram_base_username']|default('')}}"/>
            </div>
        </div>
        <div class="form-group">
            <label>Base Instagram Password</label>
            <div class="form-field">
                <input class="form-control" type="password" name="instagram_base_password" id="instagram_base_password" value="{{settings['instagram_base_password']|default('')}}"/>
            </div>
        </div>


        <div class="form-group">
            <label>Client Secret</label>
            <div class="form-field">
                <input class="form-control" type="text" name="instagram_client_secret" id="instagram_client_secret" value="{{settings['instagram_client_secret']|default('982578778aa240ae971400f419bb4ac6')}}"/>
            </div>
        </div>

        <div class="form-group">
            <label>Client Id</label>
            <div class="form-field">
                <input class="form-control" type="text" name="instagram_client_id" id="instagram_client_id" value="{{settings['instagram_client_id']|default('1c3005ae228f40bea139c473af72deb3')}}"/>
            </div>
        </div>

        <div class="form-group">
            <label>Base Access Token</label>
            <div class="form-field">
                <input class="form-control" type="text" name="instagram_base_access_token" id="instagram_base_access_token" value="{{settings['instagram_base_access_token']|default('')}}"/>
            </div>
        </div>

        <div class="form-group">
            <label>Base Url</label>
            <div class="form-field">
                <input class="form-control" type="text" name="instagram_base_url" id="instagram_base_url" value="{{settings['instagram_base_url']|default('https://api.instagram.com')}}"/>
            </div>
        </div>

        <div class="form-group">
            <label>Redirect Url</label>
            <div class="form-field">
                <input class="form-control" type="text" name="instagram_redirect_url" id="instagram_redirect_url" value="{{settings['instagram_redirect_url']|default('')}}"/>
            </div>
        </div>
       

        <input type="submit" value="Save" id="submit" name="submit" class="btn btn-primary" />

     </form>
  
{% endblock %}
