
{% extends 'admin/admin_shell.html.twig' %}

{% block title %}Admin{% endblock %}

{% block heading %}Admin Tool{% endblock %}

{% block adminbody %}
    <form action="" method="post" action="/admin/image_setting"enctype="multipart/form-data">


        Select image:
        <input type="file" name="fileToUpload" id="fileToUpload">

        <br>
        <input type="submit" value="Upload" name="submit">
    </form>

{% endblock %}
