<html>
    <head>
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		<link href="/dist/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <style>
            @page { margin: 0px; }
            body { margin: 0px; font-family:'Lato'; font-size: 8.50394pt }
                        
        </style>
    </head>
    <body>
                <table style="width: 430.8661pt; margin: 0; border-spacing: 0; table-layout: fixed;">            
                <tr>

       {% for index in 0..cart_data|length-1 %}
            {% if loop.index0 % 2 == 0 %}
                {% if loop.index0 != 0 %}
                        </tr>
                 {% endif %}
             {% endif %}

                    <td style="width: 215.433pt; height: 266.2992pt; vertical-align: top; padding: 8.50394pt;">
                        <div style="width: 100%;background-color: black;height: 198.425pt;">							
                        </div>
                        {% if not print %}
                            <div style="margin-top:8.50394pt">
                                <span id="date_{{loop.index0}}" style="font-size: 8.50394pt; font-weight: bold; color: #376fa1;">{% if cart_data[index]['data'] is defined and cart_data[index]['data']['date'] is defined %}{{cart_data[index]['data']['date']|date('m.d.Y')}}{% endif %}</span>
                                <span id="{% if carousel is defined and carousel == true %}carousel_{% endif %}location_glyph_{{loop.index0}}" class="glyphicon glyphicon-map-marker {% if cart_data[index]['data'] is not defined or cart_data[index]['data']['gps'] is not defined or cart_data[index]['data']['gps'] is empty or cart_data[index]['data']['gps']['name']|trim is empty%}hide{% endif %}" style="color: #376fa1; font-size: 8.50394pt"></span>
 
                                <span id="location_{{loop.index0}}" style="font-size: 8.50394pt">{% if cart_data[index]['data'] is defined and cart_data[index]['data']['gps'] is defined and cart_data[index]['data']['gps'] is not empty %}{{cart_data[index]['data']['gps']['name']}}{% endif %}</span><br />

                                <div class="photo-content" style="font-size: 8.50394pt; margin-top: 4.6771pt">
                                    <span class="user-text" id="{% if carousel is defined and carousel == true %}carousel_{% endif %}users_{{loop.index0}}"> 
                                        {% if cart_data[index]['data'] is defined and cart_data[index]['data']['users'] is defined and cart_data[index]['data']['users']|trim != '' %}
                                            {{cart_data[index]['data']['users']}}
                                        {% endif %}
                                    </span>

                                    <span id="{% if carousel is defined and carousel == true %}carousel_{% endif %}caption_{{loop.index0}}" data-searchurl="{{path('instagram_search',{term:null})}}" style="display: inline-block">{% if cart_data[index]['data'] is defined and cart_data[index]['data']['caption'] is defined %}{{cart_data[index]['data']['caption']}}{% endif %}</span>
                                </div>
                            </div>

                        {% else %}
                            <img src="{{cart_data[index]['data']['caption']}}">
                        {% endif %}
                    </td>
            
            {% if loop.index0 == (cart_data[index]|length - 1) %}
                        {% if cart_data[index]|length % 2 == 1 %}
                            <td>&nbsp;</td>
                        {% endif %}

            {% endif %}                      
 
        {% endfor %}           
                     </tr>
                </table>

    </body>
</html>

