<div class="media-card {% if carousel is defined and carousel == true %}carousel{% endif %} {% if index % 2 == 0 %}first{% endif %} {% if media is null %}empty{% endif %} {% if media['orientation'][index] is not defined %}portrait-text{% else %}{{media['orientation'][index]}}{% endif %}"  {% if slot is defined and slot is not empty %}id="{% if carousel is defined and carousel == true %}carousel_{% endif %}media_card_{{slot}}"{% endif %} data-orientation="{% if media['orientation'][index] is not defined %}portrait-text{% else %}{{media['orientation'][index]}}{% endif %}" data-rotation="{% if media['rotation'][index] is not defined %}0{% else %}{{media['rotation'][index]}}{% endif %}" data-slot="{{index}}" >

    {% if media is not null %}
        <div class="photo cropped" data-url="{{media['images'][index]['lowres']}}" data-cropopts="{{ {'showZoomer':false,'enforceBoundary':true,'enableZoom':enableZoom, 'viewport':{width:cropwidth, height:cropheight}, }|json_encode()|e }}" data-slot="{{index}}" data-cropurl="{{path('media_image_modify', {mode:'crop', target:mediaid, slot:index})}}" data-crop="{% if media['crop'][index]['crop'] is defined %}{{media['crop'][index]['crop']|json_encode}}{% endif %}" data-zoom="{% if media['crop'][index]['zoom'] is defined %}{{media['crop'][index]['zoom']}}{% endif %}">
            <!-- <img src="{{media['images'][index]['lowres']}}" class="photograph {% if media['rotation'][index] is defined and media['rotation'][index] != 0 %}rotation-{{media['rotation'][index]}}{%else%}rotation-0{% endif %}" /> -->
            {% if carousel is not defined or carousel == false %}<i class="fa fa-times-circle js-remove-cart js-modal animation-button" style="font-size:30px;color:black; z-index: 100;" data-target="{{path('modal_delete_cart_item', {id:mediaid, slot:slot, mode:1})}}" data-event="hookup_delete_cart_item_event" ></i>{% endif %}
        </div>
        <div class="text">
            <span id="{% if carousel is defined and carousel == true %}carousel_{% endif %}date_{{slot}}" class="js-date" data-timestamp="{% if media['data'] is defined and media['data'][index]['date'] is defined %}{{media['data'][index]['date']}}{% endif %}" data-format="MM.DD.YYYY"></span>
            <span id="{% if carousel is defined and carousel == true %}carousel_{% endif %}location_glyph_{{slot}}" class="glyphicon glyphicon-map-marker {% if media['data'] is not defined or media['data'][index]['gps'] is not defined or media['data'][index]['gps'] is empty or media['data'][index]['gps']['name']|trim is empty%}hide{% endif %}"></span>
            <span id="{% if carousel is defined and carousel == true %}carousel_{% endif %}location_{{slot}}">{% if media['data'] is defined and media['data'][index]['gps'] is defined and media['data'][index]['gps'] is not empty %}{{media['data'][index]['gps']['name']}}{% endif %}</span><br />

            <div class="photo-content">
                <span class="user-text" id="{% if carousel is defined and carousel == true %}carousel_{% endif %}users_{{slot}}">
                    {% if media['data'] is defined and media['data'][index]['users'] is defined and media['data'][index]['users']|trim != '' %}
                        {{media['data'][index]['users']}}
                    {% endif %}
                </span>

                <span id="{% if carousel is defined and carousel == true %}carousel_{% endif %}caption_{{slot}}" data-searchurl="{{path('instagram_search',{term:null})}}" class="caption js-taghighlighter">{% if media['data'] is defined and media['data'][index]['caption'] is defined %}{{media['data'][index]['caption']}}{% endif %}</span>
            </div>
        </div>

        <div class="controls">
            <img src="/dist/img/polaroid_new.png" class="orientation-toggle portrait-text animation-toggle {% if media['orientation'][index] is not defined or media['orientation'][index] == 'portrait-text'%}animate{% endif %}" data-group="{{slot}}" id="portrait_text_{{slot}}" data-id="{{slot}}" data-url="{{path('media_image_modify', {mode:'orientation', value:'portrait-text', target:mediaid, slot:index})}}"  style="height: 64px; width: 74px;" />
            {#<img src="/fobox/web/dist/img/landscape-text.png" class="orientation-toggle landscape-text animation-toggle {% if media['orientation'][index] is defined and media['orientation'][index] == 'landscape-text'%}animate{% endif %}" data-group="{{slot}}" id="landscape_text_{{slot}}" data-id="{{slot}}" data-url="{{path('media_image_modify', {mode:'orientation', value:'landscape-text', target:mediaid, slot:index})}}"  />#}
            <img src="/dist/img/vintage_new.png" class="orientation-toggle portrait-notext animation-toggle {% if media['orientation'][index] is defined and media['orientation'][index] == 'portrait-notext'%}animate{% endif %}" data-group="{{slot}}" id="portrait_notext_{{slot}}" data-id="{{slot}}" data-url="{{path('media_image_modify', {mode:'orientation', value:'portrait-notext', target:mediaid, slot:index})}}" style="height: 64px; width: 74px; margin-left: -13px;" />
            {% if carousel is defined and carousel == true %}
                <img src="/dist/img/rotate_left.png" class="js-rotate animation-button" id="rotate_left_{{slot}}" data-id="{{slot}}" data-url="{{path('media_image_modify', {mode:'rotate', value:1, target:mediaid, slot:index})}}" data-mode="rotate">
                <img src="/dist/img/rotate_right.png" class="js-rotate animation-button" id="rotate_right_{{slot}}" data-id="{{slot}}" data-url="{{path('media_image_modify', {mode:'rotate', value:-1, target:mediaid, slot:index})}}" data-mode="rotate"/>
            {% else %}
                <img src="/dist/img/equalizer2_new.png" class="settings animation-button" id="settings_{{slot}}" data-id="{{slot}}" data-index="{{index}}" style="height: 64px; width: 74px; margin-left: 192px"/>
            {% endif %}
        </div>
    {% else %}
            <a href="{{path('instagram_media', {term:term,usertag:usertag,mode:mode})}}"><img src="/foox/web/dist/img/add_photos.png" class="animation-button"  /></a>
            <p>{{'Add more photos'|trans}}</p>
    {% endif %}
</div>
