<div class="pricebar-container">
    <div class="pricebar {% if back is not empty %}with-nav{% endif %}">

        {% if back is not empty %}
           <a href="{{back}}" id="back_button">
               {#<img src="/fobox/web/dist/img/left_arrow_pricing.png" class="animation-button">#}
               <i class="animation-button fa fa-arrow-circle-o-left" aria-hidden="true" style="font-size: 111px;"></i>

           </a>
        {% endif %}

        {% if pricing is not empty %}
            {% for price in pricing %}
                <div class="total-cell">
                   <h3>&euro; {% if price.denomination > 2 %}{{price.quantity * price.denomination}}{% else %}{{price.quantity * 2}}{% endif %}</h3>
                   {#<img src="/fobox/web/dist/img/photo-price-icon.png">#}
                    <i class="fa fa-file-image-o" aria-hidden="true" style="   font-size: 41px;"></i>
                    <span>x{% if price.denomination >  2 %}{{price.denomination}}{% else %}2{% endif %}</span>
                </div>        
            {% endfor %}
        {% endif %}

    </div>
</div>
