{% extends 'admin/universal/list.html.twig' %}

{% block heading %}Users{% endblock %}

{% block userclass %}active{% endblock %}

{% block addbutton %}Add User{% endblock %}

{% block table %}
    <thead>
        <th>Email</th>
        <th>Role</th>
        <th>Enabled</th>       
        <th>Actions</th>
    </thead>
    <tbody>
        {% for User in entity_list %}
            {{User.setCryptographyService(Cryptography)}}
            <tr id="content_{{User.id}}">
                <td>{{User.username}}</td>
                <td>{% if User.role == 'ROLE_ADMIN' %}Admin{% else %}Customer{% endif %}</td>
                <td><input type="checkbox" disabled {% if User.isEnabled %}checked{% endif %} /></td>
                <td><a href="{{path('admin_universal_form', {id:User.id, reponame:reponame})}}"><span class="glyphicon glyphicon-pencil"></span></a> <a href="#" class="js-remove" data-target="{{User.id}}"><span class="glyphicon glyphicon-remove"></span></a>&nbsp; <a href="{{path('admin_user_login', {id:User.id})}}">Log In</a></td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}
